Supabase RAG Agent/Supabase RAG Agent.json
{
  "name": "Supabase RAG Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "12rbO2Bi0QIKJWqKkJrzbesqyLAMLo7Db",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12rbO2Bi0QIKJWqKkJrzbesqyLAMLo7Db"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "application/vnd.google-apps.document"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        -416
      ],
      "id": "c585c2c0-cdcc-45b7-870b-37c649fcc1ed",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "S7PzbkWKGygDEgXP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "524c769d-fefd-4277-9676-61f8c99f3093",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        -416
      ],
      "id": "74255984-dd38-4c3d-acc5-55166dba7456",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -560,
        -416
      ],
      "id": "0c29a8b4-9dd9-4f5d-bc0c-017c66a0573d",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "3vOCt7HkvnHR1Rbv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$('Edit Fields').item.json.file_id}}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -336,
        -416
      ],
      "id": "bc4d8c7a-a692-4ebb-b080-68afe1caacf0",
      "name": "Download file",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "S7PzbkWKGygDEgXP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -112,
        -416
      ],
      "id": "9fbb58a3-0175-4e3e-95f3-6f96c412e424",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        144,
        -416
      ],
      "id": "259024f1-5625-43a3-b7e7-365a7de5f117",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "3vOCt7HkvnHR1Rbv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "bge-m3:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        112,
        -192
      ],
      "id": "74a10eb4-e7a4-462f-8081-b5e0aec38551",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "X4sz8DKLZcjwWZgl",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        240,
        -192
      ],
      "id": "191a6b79-b443-4ffc-8192-3dd9dcbc9458",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 750,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        320,
        16
      ],
      "id": "f2506235-bf48-4323-bcb0-dc09d428a497",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2160,
        -400
      ],
      "id": "2bd5fa0e-b006-4a2c-a33c-6837c1f1607e",
      "name": "When chat message received",
      "webhookId": "e83fb747-3efb-4ce8-947e-dec5b58dfc83"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "你是一名私人助理，当你自己不知道答案时，会从用户文档寻找答案来帮助回答问题。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1872,
        -400
      ],
      "id": "5c4087d9-5d10-4623-82da-5cd8af720c84",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1936,
        -176
      ],
      "id": "584dc88d-f4a5-4058-94de-2ab7ddf5e4a4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "k7m5OhAUWMr1j6yY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1808,
        -176
      ],
      "id": "e762d901-aca0-4dda-839c-65dafc98ddf1",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "FCvI3h6rWZjhx17z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1776,
        32
      ],
      "id": "0f568f42-afa7-4bad-8103-a0f9339abda9",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "3vOCt7HkvnHR1Rbv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1488,
        32
      ],
      "id": "687c83cc-f6bc-4b27-bd91-c33953723c64",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "k7m5OhAUWMr1j6yY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "bge-m3:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -1696,
        240
      ],
      "id": "e0534605-da48-4f66-ba47-ded441256bab",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "X4sz8DKLZcjwWZgl",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "**RAG 检索**\n",
        "height": 832,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2224,
        -448
      ],
      "typeVersion": 1,
      "id": "f267aac7-dbb1-4099-b7e7-7b03abba4262",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "**知识入库**",
        "height": 608,
        "width": 1568,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        -448
      ],
      "typeVersion": 1,
      "id": "c51d195a-94a8-4f46-be94-f5166e866ab9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "description": "包含所有的用户文档，你可以查看这些文档以获取上下文来回答用户的问题。"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -1680,
        -176
      ],
      "id": "c40c35df-6c15-46cd-baef-f1accf6d1e6f",
      "name": "User_Document"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "User_Document",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "User_Document",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "User_Document": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d24a6e3c-d955-448a-a89b-761efbdc1504",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86d05d1f00dfc3c5a725b94c67328aed006366ecc03d9b7b46bff57cb6146afc"
  },
  "id": "plTwHbNRWFjykHY6",
  "tags": []
}
